[submodule "web3-signature/lib/forge-std"]
	path = web3-signature/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "web3-signature/lib/openzeppelin-contracts"]
	path = web3-signature/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "ido/lib/forge-std"]
	path = ido/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ido/lib/openzeppelin-contracts"]
	path = ido/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contract-upgrade/lib/forge-std"]
	path = contract-upgrade/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
